# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

# Environments
.env/
.venv/
venv/
recipeAPI/

.circleci
.vscode/
data/
skip/

# Django stuff:
*.log
local_settings.py
app/db.sqlite3
db.sqlite3-journal